
@import '/src/styles/_variables';

.header {
  height: 80px;
  background-color: #fffaf2;
  margin-bottom: 25px;

  &_logo {
    display: inline-block;
    width: 257px;
    height: 48px;
    margin-right: 50px;
    background-image: url(../../assets/logo.svg);
    background-size: cover;
    flex-shrink: 0;
    transition: all 0.3s ease;

    @media screen and (max-width: 600px) {
      width: 55px;
      margin-right: 0;
    }
  }

  &_links {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &_link {
    color: $textColor;
    font-family: 'Montserrat', Arial, sans-serif;
    text-decoration: none;
    font-weight: 500;
    border: none;
    background: transparent;
    margin-left: 20px;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #ffb82d;
    }
  }
}

