@import './styles/variables';
@import './styles/form';
@import './styles/components';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-family: $mainFont;
  font-weight: 400;
  font-size: $mainFontSize;
}


.container {
  width: 960px;
  margin: 0 auto;
  max-width: calc(100vw - 100px);
  min-width: 320px;
}
